<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            line-height: 3;
        }
        select{
            margin-right: 10px;
            overflow-y: hidden;
        }
        label{
            margin-right: 5px;
        }
        .form-controle{
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <h3>Count = {{count}}</h3>
    <form action="/" method="POST">
            <input type="hidden" name="words" value="{{word_list}}">
            <input type="hidden" name="count" value="{{count}}">

        <div class="container">
            {% for word in word_list %}
            <div class="form-controle">
                <label>{{word}}</label>
                <select name="ner_tags[]" size="4">
                    <option value="O" selected>O</option>
                    <option value="PER">PER</option>
                    <option value="ORG">ORG</option>
                    <option value="LOC">LOC</option>
                </select>
            </div>
            {% endfor %}
        </div>
            
        <br>
        <input type="submit" />                
    </form>
    <a href="/next">Next ></a>
</body>
</html>